@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #3b82f6;
  --color-accent: #10b981;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f8fafc;
  color: #0f172a;
}
